<div class="inline">
  <%= form_for @query, :url => { :action => 'search' }, :remote => true, :id => 'search' do |f| %>
    <div class="left ">
      <table>
        <tbody>
          <tr>
            <td>Wyświetl rekordy typu:</td>
            <td>
              <%= f.select :type, @types %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right">
      <%= f.text_field :q, :class => 'watermark szukaj', :'-data-watermark' => 'wpisz szukaną fraze' %>
    </div>
    <div class="right">
      <%= image_tag 'search.png', :class => 'search' %>
    </div>
    <div class="clearfix"></div>

    Pokaż Zgłoszenia od dnia: <%= f.text_field :from, :class => 'data watermark datepicker', :'-data-watermark' => "od dnia" %> do dnia: <%= f.text_field :to, :class => 'data watermark datepicker', :'-data-watermark' => "do dnia" %>

    <div class="clearfix"></div>
    <input type="submit" value="WYŚWIETL" />
  <% end %>
</div>
<div class="clearfix"></div>
<br/>
<br/>
<div id="search-response">

</div>
