<table class="admin">
  <th>DATA ZGŁOSZENIA</th>
  <th>IMIĘ i NAZWISKO</th>
  <th>ADRES</th>
  <th>TELEFON</th>
  <th>PRODUCENT SPRZĘTU</th>
  <th class="male">ZOBACZ SZCZEGÓŁY</th>
  <th class="male">USUŃ REKORD</th>
  <% @elements.each_with_index do |e, i| %>
  <tr class="<%= i % 2 == 0 ? 'parzysty' : '' %>">
    <td><%= e.created_at.strftime('%d.%m.%Y') %></td>
    <td><%= e.name %></td>
    <td><%= e.address %></td>
    <td><%= e.phone %></td>
    <td><%= e.producer %></td>
    <td><%= link_to '', { :action => 'details', :id => e.id, :type => e.class.to_s.downcase }, { :class => 'details' } %></td>
    <td><%= link_to '', { :action => 'delete', :id => e.id, :type => e.class.to_s.downcase }, { :confirm => 'Czy na pewno usunąć rekord?', :class => 'remove' } %></td>
  </tr>
  <% end %>
</table>
