<%= form_for @report, :validate => true, :url => { :action => 'submit_postguarantee_report', :controller => 'home' }, :html => { :class => 'formularz', :id => 'report' } do |f| %>
  <table class="formularz">
    <tr>
      <th>Wybierz rodzaj zgłoszenia:<span>*</span> </th>
      <td><%= select_tag 'form-type', options_for_select(@report_types, @report_type), { :id => 'report-type' } %></td>
    </tr>
    <tr>
      <th>Imię i Nazwisko:<span>*</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>Adres:<span>*</span></th>
      <td><%= f.text_area :address, :class => 'adres' %></td>
    </tr>
    <tr>
      <th>Telefon:<span>*</span></th>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>Producent Sprzętu:<span>*</span></th>
      <td><%= f.select :producer, options_for_select(@producers) %></td>
    </tr>
    <tr>
      <th>Rodzaj Wyrobu:<span>*</span></th>
      <td><%= f.text_field :rodzaj , { :class => 'watermark', :'-data-watermark' => 'typ, nazwa' }%></td>
    </tr>
    <tr>
      <th> Opis Usterki:<span>*</span> </th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th> Zdjęcia Uszkodzenia:</th>
      <td> <%= f.file_field :image1 %> </td>
    </tr>
    <tr>
      <th></th>
      <td> <%= f.file_field :image2 %> </td>
    </tr>
    <tr>
      <th> </th>
      <td> <%= f.file_field :image3 %> </td>
    </tr>
    <tr>
      <th></th>
      <td><div id="recaptcha_image"></div></td>
    </tr>
    <%= render 'hidden_file_protection' if @config.display_spam_hidden_field %>
    <%= render 'captcha_row' if @config.display_captcha %>
    <tr>
      <th> </th>
      <td > <input id="wyslij" type="submit" value="WYŚLIJ ZGŁOSZENIE" /> </td>
    </tr>
  </table>
<% end %>
